/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
/* Main styles */
body {
   /* img size is 50x50 */
    background: url("./images/weave.png") repeat 0 0;
}
